*{
    margin: 0;
    padding: 0;
}
.page1{
    background-color: #ff7f50;
    background-image:url(img/index.png);
    background-repeat: no-repeat;
    background-size:100% ;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 75px;
    font-size: 30px;
}
header,nav{
    background-color: white;
    padding: 3px;
    display:flex;
    justify-content: space-around;

}
.page2{
    background-color: #FFD1A3;
}
.page3{
    background-color: #FA8072;
}
/*.page_3{
    background-image: url(/img/tutoIMG_copia.png);
    height: 300px;
    width: 100%;
}*/
.page_3>nav{
    background-color: none;
}
.page4{
    background-image: url(img/trab.png);
}
